.el-scrollbar {
  &.size-full-scrollbar {
    width: 100%;
    height: 100%;

    & > .el-scrollbar__wrap {
      width: 100%;
      height: 100%;

      & > .el-scrollbar__view {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.el-tabs {
  &.hide-tab-content-padding {
    & > .el-tabs__content {
      padding: 0 !important;
    }
  }
}